### MySQL
### 方法一：使用子查询 LIMIT 子句

In [ ]:
SELECT
    (SELECT DISTINCT
            Salary
        FROM
            Employee
        ORDER BY Salary DESC
        LIMIT 1 OFFSET 1) AS SecondHighestSalary

### 方法二：使用 IFMULL 和 LIMIT 子句

In [ ]:
SELECT IFNULL(
      (SELECT DISTINCT 
           Salary
       FROM 
           Employee
       ORDER BY Salary DESC
        LIMIT 1 OFFSET 1), NULL) AS SecondHighestSalary

**说明**：

1. 数据去重：SELECT DISTINCT Salary FROM Employee
2. 降序排序：SELECT DISTINCT Salary FROM Employee ORDER BY Salary DESC
3. 分页（一页一条数据，第二高薪水则在第二页）：SELECT DISTINCT Salary FROM Employee ORDER BY Salary DESC LIMIT 1, 1
4. 用ifnull判断，若无第二高薪水则为空：SELECT IFNULL( (SELECT DISTINCT Salary FROM Employee ORDER BY Salary DESC LIMIT 1, 1),null) AS SecondHighestSalary

* limit y : 读取 y 条数据
* limit x, y : 跳过 x 条数据，读取 y 条数据
* limit y offset x : 跳过 x 条数据，读取 y 条数据